/* ================
 * CSS reset (2024)
 * ================
*/
*, *::before, *::after{
    box-sizing: border-box; 
}

*{
    margin: 0; 
    padding: 0; 
}

ul[role='list'], ol[role='list']{
    list-style: none; 
}

html:focus-within{
    scroll-behavior: smooth; 
}

a:not([class]){
    text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto; 
    vertical-align: middle; 
    font-style: italic; 
    background-repeat: no-repeat; 
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; 
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%; 
    scroll-behavior: smooth; 
}


/* ================
 * Auto light/dark theme
 * ================
*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

:root {
  --light: #f7f7f7;
  --dark: #323232;
  --accent-light: #6db193;
  --accent-dark: #295f4e;
  --text: var(--dark);
  --bg: var(--light);
  --bg-nav: var(--accent-light);
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--light);
    --bg: var(--dark);
    --bg-nav: var(--accent-dark);
  }
}


/* ================
 * Forms
 * ================
*/
.vertical-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 500px;
}

div:has(input[required]) > label::after {
    content: "*";
    color: red;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-nav);
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

nav > ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav > ul > li > a {
    padding: 0.6rem 1.25rem;
    border-radius: 1.5rem;
    text-decoration: none;
    background-color: #f4e5c2;
    color: var(--dark);
    border: 2px solid var(--dark);
}

nav > ul > li > a:hover {
    box-shadow: 0px 0px 6px 1px var(--dark);
}

main {
    padding: 2rem;
}

article {
    padding-top: 1rem;
}

form > div {
    display: flex;
    flex-direction: column;
}

form > button {
    align-self: end;
    padding: 0.6rem 1.25rem;
    border-radius: 1.5rem;
    background-color: var(--accent-dark);
    color: var(--light);
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    font-weight: bold;
}

form > button:hover {
    box-shadow: 0px 0px 6px 1px var(--dark);
}

footer {
    padding-inline: 2rem;
}


/* ================
 * File upload
 * ================
*/
.my-theme {
    --uc-primary-oklch-dark: 97% 0 0;
    --uc-primary-oklch-light: 10% 0 0;
}

r-file-uploader-regular {
    position: relative;
    display: inline-block;
}

lr-form-input {
    position: absolute;
    bottom: 0px;
    left: 50%;
}